# Auto detect text files and perform LF normalization
* text=auto
folder/
7.\ K-means\ Clustering\ and\ Principal\ Component\ Analysis/__pycache__/
8.\ Anomaly\ Detection\ and\ Recommender\ Systems/__pycache__/
6.\ Support\ Vector\ Machines/__pycache__/
5.\ Regularized\ Linear\ Regression/__pycache__/
4.\ Neural\ Networks\ Learning/__pycache__/
3.\ Multi-class\ Classification\ and\ Neural\ Networks/__pycache__/
2.\ Logistic\ Regression/__pycache__/
1.\ Linear\ regression/__pycache__/
7.\ K-means\ Clustering\ and\ Principal\ Component\ Analysis/.ipynb_checkpoints/
8.\ Anomaly\ Detection\ and\ Recommender\ Systems/.ipynb_checkpoints/
6.\ Support\ Vector\ Machines/.ipynb_checkpoints/
5.\ Regularized\ Linear\ Regression/.ipynb_checkpoints/
4.\ Neural\ Networks\ Learning/.ipynb_checkpoints/
3.\ Multi-class\ Classification\ and\ Neural\ Networks/.ipynb_checkpoints/
2.\ Logistic\ Regression/.ipynb_checkpoints/
1.\ Linear\ regression/.ipynb_checkpoints/
__pycache__/